<!-- tabs.page.html -->

<ion-header>
  <ion-toolbar>
    <!-- Back button for navigation to tab1 -->
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/tabs/tab1'"></ion-back-button>
    </ion-buttons>
    <ion-title>NPL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>

    <ion-tab-bar slot="bottom">

      <!-- Your existing tabs -->
      <ion-tab-button tab="contact-us" href="/tabs/contact-us">
        <ion-icon name="mail"></ion-icon>
        <ion-label>Contact Us</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="epaper" href="/tabs/epaper">
        <ion-icon name="newspaper"></ion-icon>
        <ion-label>Epaper</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="web1" href="/tabs/web1">
        <ion-icon name="globe"></ion-icon>
        <ion-label>Website</ion-label>
      </ion-tab-button>

      <!-- Settings tab -->
      <ion-tab-button tab="settings" (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-content>
