<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Contact Us</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="epaper" href="/tabs/epaper"> <!-- button for EpaperPage -->
      <ion-icon aria-hidden="true" name="newspaper"></ion-icon>
      <ion-label>Epaper</ion-label>
    </ion-tab-button>


    <!-- tab for Web1 -->
    <ion-tab-button tab="web1" href="/tabs/web1">
      <ion-icon aria-hidden="true" name="globe"></ion-icon>
      <ion-label>Website</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
